button {

    cursor: pointer; 
 }
 
.guess-boxes {

  width: 100%;
  max-width: 510px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto; /* Add this line to center the component */
}

.rectangle {

  border-radius: 5px;
  background-color: lightgrey; /* Set the background color to aqua */
  width: 99%; /* Adjust the width as needed */
  height: 35px; /* Adjust the height as needed */
  margin-bottom: 5px; /* Add spacing between the rectangles */
}

.rectangle.correct {
  width: 98%;
  border: 2px solid black;
  display: flex;
  align-items: center;
  background-color: lightgreen;
}

.rectangle.incorrect {
  width: 98%;
  border: 2px solid black;
  display: flex;
  align-items: center;
  padding-left: 5px;
  background-color: lightcoral;
}


.guess-button {

    border: 1px solid black;
    border-radius: 5px;
    background-color: white; /* Set the background color to aqua */
    width: 99%;
    max-width: 505px; /* Adjust the width as needed */
    height: 35px; /* Adjust the height as needed */
    margin-bottom: 100px;
  }
.guess-button:hover{

  background-color: lightgray;
}

.guess-button.disabled:hover{

  background-color: white;
  cursor: default;
}

.text-field {
  margin-top: 5px;
  border: 1px solid lightgray;
  border-radius: 4px;
  background-color: white;
  width: 96%;
  height: 35px;
  margin-bottom: 5px;
}