.suggestion-buttons {
  list-style-type: none;
    position: absolute;
    max-height: 224px;
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Align buttons to the left */
    gap: 0px; /* Adjust the gap between buttons as needed */
  }

  .suggestion-button {
    color: black;
    display: flex;
    align-items: left;
    border: 1px solid black;
    width: 500px;
    padding: 10px;
    background-color: white;
    cursor: pointer;
    transition: transform 0.2s;
    transform-origin: left center;
    flex: 0 0 auto;
    margin: 0;
  }
  
  .suggestion-button:hover {
    background-color: #e0e0e0;
    transform: scale(1.2);
  }

  .suggestion-button:hover span.city {
    font-weight: bold;
  }

  